@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #5ca1f2 0%,       /* Light blue - starts the gradient */
    #4a90e2 33%,      /* Mid-tone blue - transition */
    #3bace2 66%,      /* Slightly deeper blue - further transition */
    #406aff 100%      /* Deep blue - ends the gradient */
  );
  box-shadow: 0px 4.42184px 107.23px rgba(64, 106, 255, 0.51); /* Adjusted box-shadow color */
}


.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,   /* Deep blue */
    #3bace2 50.63%,   /* Lighter blue */
    #4a90e2 75%,      /* Added a mid-tone blue */
    #5ca1f2 100%      /* Even lighter blue */
  );
}


.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #4d9efc 21.43%,   /* Light blue */
    #3578e5 50.63%,   /* Medium blue */
    #1e5e9e 100%,     /* Darker blue */
    #164b77 117.04%   /* Even darker blue */
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#4d9efc] to-[#3578e5] font-bold font-primary hover:from-[#1e5e9e] hover:to-[#164b77];
  }  
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
